@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Oleo+Script:wght@400;700&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caprasimo&family=Oleo+Script:wght@400;700&family=Sofia&display=swap');
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body{
    font-size: 15pt;
    background-color: #0B1014;
    
}
.must{
    height: 90px;
    width: 100%;
    margin-top: 10px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;


}
h1 u{
    height: 90px;
    width: 100%;
    margin-top: 30px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #21C063;
    text-align: center;
    font-size: 40pt;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
.welcome{
    margin-bottom: 75px;
}


.button{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    padding-left: 5px;
    font-size: 25pt;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    
    
}
.button{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    padding-left: 5px;
    font-size: 25pt;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    
}
.b{
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100px;
    background-color: #23282C;
    color: #21C063;
    font-size: 25pt;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;


}
.b:hover{
    background-color: #103629;
    color: #D8FDD2;
    
}
.eap{
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100px;
    background-color: #23282C;
    color: #21C063;
    font-size: 25pt;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}
.eap:hover{
    background-color: #103629;
    color: #D8FDD2;
}
form{

    border-radius: 5px;
    width: 101%;
    
}
div h1{
  color: #0b0c10;
}
div button a{
    color: #21C063;
}
header .navbar{
    background-color: #21C063;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    color: #0B1014;
    font-family: "oleo script",cursive;
    margin: 0px;
    padding: 0px;
    right: 0px;
    left: 0px;
    margin-top: -10px;
    
    
    
    
}
.lan{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #21C063;
    font-size: 15pt;
    margin: 20px 20px 20px 20px;
    width: 100%;
    height: 70px;
    background-color: #23282C;
    border: 10px solid transparen;
    font-size: 25pt;
    text-decoration: none;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}
.lan:hover{
    background-color: #103629;
    color: #D8FDD2;
}

.sub-lan{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #21C063;
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 10px;
    width: 100%;
    height: 70px;
    background-color: #23282C;
    font-size: 25pt;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}
.sub-lan:hover{
    background-color: #103629;
    color: #D8FDD2;
}
.youtube1{
    margin: 20px;
    
}


.h{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: #21C063;
    color: white;
    position: fixed;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    flex-direction: row-reverse;
    font-size: 25px;
    font-family: "Caprasimo",serif;
    font-weight: 400;
    font-style: normal;
}
.home1{
    color: #0B1014;
}
.nav{
    height: 90px;
    width: 100%;
    
    
}
section{
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1280px;
    margin-bottom: 100px;
}
footer{
    height: 20vh;
    color: #23282c;
    background-color: #23282C;
    text-align: center;
    width: 100%;
   border-right: 20px solid #23282c;
}
h3{
    color: white;
    margin-top: 4pc;
    margin-bottom: 20px;
}
.instagram{
    height: 100px;
    
    
    
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 0px;

}
.facebook{
    height: 100px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 0px;
    
    
    
}
.youtube{
    height:100px;
    margin-bottom: 0px;
}