<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Must Material</title>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>
  <div class="sec-5-1">
      <div class="sec-5-1-1">
        <div class="sec-5-1-1-1">
          <div class="logo">
            <img src="/assets/logo.png" alt="Must Material">
          </div>
          <p class="footer-abt">Must Material is an online educational platform designed to help students access quality study resources anytime, anywhere. Whether you're preparing for board exams, entrance tests, or enhancing your subject knowledge</p>
          <p><img src="/assets/location.png" alt="landmark">Guntur, Andhra Pradesh,India.</p>
        </div>
        <div class="sec-5-1-1-2">
          <div class="sec-5-1-1-2-1">
            <h1>Classes</h1>
          <ul>
            <li>6th class</li>
            <li>7th class</li>
            <li>8th class</li>
            <li>9th class</li>
            <li><a href="10th.html">10th class</a></li>
            <li>Inter First Year</li>
            <li><a href="inter2.html">Inter Second Year</a></li>
            <li><a href="Eapcet.html">Eapcet [A.P]</a></li>
          </ul>
          </div>
          <div class="sec-5-1-1-2-2">
            <h1>Important Links</h1>
            <ul>
              <li><a href="https://bie.ap.gov.in/">BIE AP<svg xmlns="http://www.w3.org/2000/svg" height="10px" viewBox="0 -960 960 960" width="10px" fill="#000000"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" class="svg"/></svg></a></li>
              <li><a href="https://youtube.com/@parnikamaths5830?si=bOUnyT5Tc6GFS6tp">MATHS CHANNEL<svg xmlns="http://www.w3.org/2000/svg" height="10px" viewBox="0 -960 960 960" width="10px" fill="#000000"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" class="svg"/></svg></a></li>
            </ul>
        </div>
        </div>
      </div>
      <div class="sec-5-1-2">
        <h1>About the developer: </h1><br>
        <p>website developed by <u>Radha krishna</u></p>
        <div class="social-btns">
          <button><a href="https://www.instagram.com/radha_krishna.2810?igsh=NWs2Z3Z0Y3J5bjc2"><img src="/assets/instagram.png" alt="Instagram" >Instagram</a></button>
          <button><a href="https://www.facebook.com/radha.krishna.225465?mibextid=ZbWKwL"><img  src="/assets/facebook.png" alt="Facebook" >facebook</a></button>
          <button><a href="https://youtube.com/@mustmaterial?si=revNyjkUlrClXFLe"><img src="/assets/play-button-arrowhead.png" alt="Youtube" >YouTube</a></button>
          <button><a href="https://github.com/radhakrishna131"><img src="/assets/github.png" alt="Github" >GitHub</a></button>
        </div>
        <div class="sec-5-2">
          <p>©2025 Must Material Website</p>
          <p><img src="/assets/heart.png" alt="heart" >for students</p>
        </div>
      </div>
    </div>
</body>

</html>
